@import "../../styles/config.scss";
@import "../../styles/colors.scss";

.hot-products-container{
    padding-top: 40px;
    background-color: $white-grey;
    .slider-title{
        margin-bottom: 20px;
    }
    .scroll-btn {
        position: relative;
        z-index: 99;
        .scroll-btn-right{
            position: absolute;
            right: 5px;
            top: 130px;
        }
        .scroll-btn-left{
            position: absolute;
            left: 5px;
            top: 130px;
        }
    }
    .space {
        flex-grow: 1;
    }
    .products-slider {
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        .loader-active {
            display: block;
        }
    }
}
