@import "../../styles/config.scss";
@import "../../styles/colors.scss";

.product-card {
  width: 200px;
  padding: 20px 10px; 
  .card-actions {
    color: white;
    display: flex;
    justify-content: center;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}