@import "../../styles/config.scss";
@import "../../styles/colors.scss";

.product-card {
  width: 230px;
  height: 300px;
  padding: 20px 20px; 
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .card-actions {
    color: white;
    position: absolute;
    bottom: 10px;
    
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}