$text-field-blue:rgb(0, 123, 252);
$button-purple:rgb(1, 72, 164);
$button-purple-hover:rgb(1, 60, 138);
$purple-facebook:rgb(57, 92, 146);
$red-google:rgb(241, 68, 54);
$dark-text: rgb(54, 54, 54);
$blue-join-button: rgb(114, 193, 244);
$blue-popover: rgba(135,203,245,255);
$text-highlight: rgba(255,106,83,255);
$search-background-color:rgba(255, 255, 255, 0.15);
$search-background-color-hover:rgba(255, 255, 255, 0.25);
$white-grey: #f4f4f6;
$white-grey-hover: rgba(230, 230, 234, 1);
$white-btn-hover: #f9f9f9;


