@import "../..//styles/config.scss";
@import "../../styles/colors.scss";

.category-btn-group {
  background-color:$white-grey;
  
	.category-btn {
    .MuiButton-label{
      display: flex;
      flex-direction: column;
    }
		width: 150px;
    height: 150px;
    @media only screen and (max-width: $md) {
      width: 100px;
      height: 100px;
    }
    @media only screen and (max-width: $md) {
      width: 70px;
      height: 85px;
    }
  }
}
